-normal text
  -chandrakanth
    -deepak

![image](https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwjFxNWx1JjmAhVQAXIKHaTpAVMQjRx6BAgBEAQ&url=https%3A%2F%2Fwww.technotification.com%2F2018%2F09%2Fbest-python-programming-courses.html&psig=AOvVaw2NAn-g0MPnwPERAtPiJwYI&ust=1575434225706227)

[1](https://drive.google.com/drive/folders/1ut0ldFTe7Y9OJJ9_tBwL7_JodJ2cLhDo)

In [2]:
print("chandrakanth")

chandrakanth

In [3]:
print("deepak",end="chandu")
print("deepak")

deepakchandudeepak

### Assigment

In [10]:
#multiple variable with single value
a=b= 5
print(a)
print(b)

5
5

In [11]:
#single variable with single value
a=10
print(a)

10

In [12]:
#multiple variable with multiple values
a,b,c=1,2,3
print(a,b,c)

1 2 3

In [13]:
name = "abhi"
age = "19"
print("my name is",name,"and age is",age)

my name is abhi and age is 19

In [15]:
input("enter the string")

enter the stringdeepak

'deepak'

In [ ]:
b= input("enter the num")
type(b)

In [1]:
a = input("enter the num")
type(a)

enter the num24

str

In [3]:
a= int(input("enter the no."))
type(a)

enter the no.12

int

In [4]:
a= float(input("enter the no."))
type(a)

enter the no.121.22

float

In [5]:
a= 21
b= 15
c=a+b
print(c)
type(c)

36

int

In [6]:
a= int(21)
print(a)

21

In [7]:
a= 1+5j
b= 2+3j
print(a+b)

(3+8j)

In [8]:
a= 5+3j
print(a)
type(a)

(5+3j)

complex

In [9]:
a= complex(5,1)
print(a)

(5+1j)

In [11]:
a= float(1)
print(a)

1.0

In [12]:
a= 5
type(a)

bool

In [13]:
b= False
type(b)

bool

In [14]:
a= 2
b= 5
a>b

False

In [16]:
a= "asd"
b="adjh"
type(a)
type(b)

str

In [17]:
i=10
print(type(i))

<class 'int'>

In [19]:
s1= str(i)
print(s1)
print(type(s1))

10
<class 'str'>

In [21]:
a= "1365"
len(a)

4

# operators

# 1.Arithmatic Operators : +,-,/,*,%,//,**
# 2.Logical operators : and,not,in
# 3.Relational operators : <,>,<=,>=,==
# 4.Membership operators : in,not in.

In [22]:
4/2

2.0

In [23]:
4-2

2

In [24]:
2-2

0

In [25]:
4%2

0

In [26]:
4*5

20

In [27]:
12/5

2.4

In [28]:
12//5

2

In [29]:
5//2

2

In [30]:
-13//5

-3

In [31]:
2**8

256

In [32]:
x=4
y=9
print(x>=5 and x<=10)
print(y<=2 or y>=10)
print(not(x))

False
False
False

In [34]:
#Membership operators
str1= "ghdg"
print('a' in str1)
print('a' not in str1)

False
True

# conditional statements :
## 1.if
## 2.if-else
## 3.elif

# syntax
## if condition:
### statement
## else:
### statement

In [38]:
a= -1
if a>0:
    print("positive")
else:
     print("negative")

negative

In [41]:
a= int(input("enter a num"))
if a>0:
    print("positive")
elif a<0:
        print("negative")
else:
            print("zero")

enter a num11
positive